<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwbCkRgsgN1GLZB7vSAHn1cfAg0_wAzDg</string>
	<key>GCM_SENDER_ID</key>
	<string>517763299422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.lymo01dev</string>
	<key>PROJECT_ID</key>
	<string>lymo-delevry</string>
	<key>STORAGE_BUCKET</key>
	<string>lymo-delevry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517763299422:ios:8269b287fc0a615f12dccf</string>
</dict>
</plist>